/* Tipografía y estilo general */
body {
    margin: 0;
    padding: 0;
    font-family: 'Chomsky', serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Estilo del título */
#title {
    font-size: 3rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#title:hover {
    transform: translateY(-5px);
}

/* Estilo del formulario de login (oculto por defecto) */
.login-form {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-top: 10px;
    color: black;
}

.login-form input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

.login-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #555;
}
